@using ComicCatcherLib.Utils
@model ComicApi.Model.PageModel

@{
    ViewBag.Title = "Pagination";
    Layout = "_Layout";
}

<h2 style="display: inline-block;">@Model.CurrPagination.Caption</h2>
<button onclick="location.href='/page/@Model.CurrPagination.TabNumber/true'">顯示全部</button>
<button onclick="location.href='/page/@Model.CurrPagination.TabNumber'">隱藏</button>
<br/>
@{

    int i = 0;
    foreach (var p in Model.Paginations)
    {
        var pg = ++i;
        if (pg < Model.CurrPagination.TabNumber - 2 || pg > Model.CurrPagination.TabNumber + 2) continue;
        if (pg == Model.CurrPagination.TabNumber)
        {
            <b>@p.Caption</b>
        }
        else
        {
            <a href=@pg>@p.Caption</a>
        }
    }

    var pageCount = 5;
    i = 0;
    @Html.Raw("<table style='max-width: 1000px;'><tbody>")

    foreach (var comic in Model.FilteredComics)
    {
        if (i % pageCount == 0)
        {
            @Html.Raw("<tr>")
        }
        <td>
            <p>
                <a href="../comic/@comic.Url.GetUrlDirectoryName()"><img src=@comic.IconUrl><br>@comic.Caption</a>
                @if (Model.IgnoreComics.ContainsKey(comic.Url.GetUrlDirectoryName()))
                {
                    <button onclick="deleteIgnoreComic('@comic.Url.GetUrlDirectoryName()')">顯示</button>
                }
                else
                {
                    <button onclick="addIgnoreComic('@comic.Url.GetUrlDirectoryName()', '@comic.Caption')">隱藏</button>
                }
            </p>
        </td>
        i++;
        if (i % pageCount == 0)
        {
            @Html.Raw("</tr>")
        }
    }
    if (i % pageCount != 0) Html.Raw("</tr>");
    @Html.Raw("</tbody></table>")
    ;
}
