@model ComicApi.Model.PageModel

@{
    ViewBag.Title = "Pagination";
    Layout = "_Layout";
}

<h2>@Model.CurrPagination.Caption</h2>
@{
    int i = 0;
    foreach (var p in Model.Paginations)
    {
        var pg = ++i;
        if (pg < Model.CurrPagination.TabNumber - 2 || pg > Model.CurrPagination.TabNumber + 2) continue;
        if (pg == Model.CurrPagination.TabNumber)
        {
            <b>@p.Caption</b>
        }
        else
        {
            <a href=@pg>@p.Caption</a>
        }
    }

    var pageCount = 5;
    i = 0;
    @Html.Raw("<table><tbody>");
    foreach (var comic in Model.CurrPagination.Comics)
    {
        if (i % pageCount == 0) @Html.Raw("<tr>");
        var relativeUrl = new Uri(comic.Url).LocalPath.Trim('/');
        <td>
            <p><a href="../comic/@relativeUrl"><img src=@comic.IconUrl><br>@comic.Caption</a></p>
        </td>
        i++;
        if (i % pageCount == 0) @Html.Raw("</tr>");
    }
    if (i % pageCount != 0) Html.Raw("</tr>");
    @Html.Raw("</tbody></table>");
}
